@page
@model HomestayWeb.Pages.HomeStays.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Homestay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.HomestayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.HomestayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Commune)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Commune)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Homestay.HomestayId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
