@page
@model HomestayWeb.Pages.HomeStays.DetailsModel

@{
    ViewData["Title"] = "Details";
    var disctrict = Model.Homestay.City;
    var user = User;
    var isAdmin = user.HasClaim(c => c.Type == "Role" && c.Value == "ADMIN");
}
<link href="~/css/detail.css" rel="stylesheet" />

<!-- Modal structure -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter password to order homestay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="password" placeholder="Password" class="form-control" id="confirm-password"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="orderBtn" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var image in Model.Homestay.Images)
        {
            <div class="carousel-item @(image == Model.Homestay.Images.First() ? "active" : "")" data-bs-interval="5000">
                <img src="@image.Link" class="d-block w-100" alt="Image">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row" style="margin-top:40px;">
    <h3>Homestay @Html.DisplayFor(model => model.Homestay.HomestayName) </h3>
    
<div class="col-md-8">

  

    <dl class="row">
            <dt class="col-sm-5">
                Tình trạng phòng
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Homestay.Type)
            </dd>
        <dt>
            Là một HomeStay đầy mộng mơ nằm tại
                @Html.DisplayFor(model => model.Homestay.Commune) @Html.DisplayFor(model => model.Homestay.District) của @Html.DisplayFor(model => model.Homestay.City).
                Địa chỉ cụ thể : @Html.DisplayFor(model => model.Homestay.Address) 
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.Price)
        </dd>
        <dt>
            Mô tả chi tiết :
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Homestay.Description)
        </dd>
        <dt>
                Tiện nghi khách có quyền sử dụng
        </dt>
        <dd>
                Bạn sẽ có toàn bộ căn hộ cho riêng mình trong thời gian lưu trú.
                Căn hộ riêng tư với đầy đủ tiện nghi. Bao gồm giường cỡ queen, phòng tắm riêng, điều hòa không khí, TV internet, Wifi miễn phí, tủ lạnh, đồ vệ sinh cá nhân, máy sấy tóc, lược, bàn chải đánh răng, xà phòng rửa tay.
                Bạn có thể tận hưởng bể bơi ngoài trời hiện đại, bể bơi trong nhà, tập thể dục trong phòng tập thể dục được trang bị đầy đủ tiện nghi. Phí cho người không phải là cư dân là 200.000 VND/người/lần.
        </dd>
        <dd>
                Khách có thể đỗ xe ô tô/xe máy trong căn hộ với mức phí 5.000 đồng/lượt vào; qua đêm 35.000đ/ lượt; ô tô là 15.000đ/giờ.
                Highlands Coffee, rau tươi, Winmart +. Các cửa hàng trái cây, và một nhà thuốc cũng nằm trong khu phức hợp với chưa đầy 5 phút đi bộ.
        </dd>
    </dl>
</div>

<div class="col-md-4 ">
@if (isAdmin)
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Homestay?.HomestayId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
}
else
{
            <div class=" border border-success form-book">
        <form method="post" asp-page-handler="AddToCart" id="orderForm">
                <dt>
                        @Html.DisplayFor(model => model.Homestay.Price) VNĐ / Ngày
                </dt>
                    
            <input asp-for="CartItem.HomeStayId" class="form-control" name="id" hidden value="@Model.Homestay.HomestayId" />
            <input type="text" name="password" id="password" hidden />
            <div class="form-group">
                <label asp-for="CartItem.DateStart" class="control-label"></label>
                <input asp-for="CartItem.DateStart" class="form-control" />
                <span asp-validation-for="CartItem.DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartItem.DateEnd" class="control-label"></label>
                <input asp-for="CartItem.DateEnd" class="form-control" />
                <span asp-validation-for="CartItem.DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <input type="button" value="Order" data-toggle="modal" data-target="#exampleModalCenter" class="btn_order" />
            </div>
        </form>
    </div>
}
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const host = "https://provinces.open-api.vn/api/";

    axios.get(host + 'p/@disctrict')
        .then((response) => {
            document.getElementById('province').innerHTML = `
                <dt class="col-sm-2" id="province">
                        ${response.data.name}
            </dt>
            `
            
            console.log(response.data.name)
        });

    $('#orderBtn').click(() => {
        $('#password').val($('#confirm-password').val());
        $('#orderForm').submit();
    });

    
</script>
