@page
@model HomestayWeb.Pages.HomeStays.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Manager.css" rel="stylesheet" />
<h1>Danh sách HomeStay</h1>

<p>
    <a class="btn_action"  asp-page="Create">Thêm HomeStay mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên HomeStay
            </th>
            <th>
                Đất nước
            </th>
            <th>
                Thành phố
            </th>
            <th>
               Huyện
            </th>
            <th>
                Xã
            </th>
            <th>
                Cụ thể
            </th>

            <th>
               Trạng thái
            </th>
            <th>
                Giá
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Homestay) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomestayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @if (item.Status)
                {
                    <text>ACTIVE</text>
                }
                else
                {
                    <text>INACTIVE</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
 
            <td>
                    <div style="margin-top:5px;">
                        <a class="btn_action" asp-page="./Edit" asp-route-id="@item.HomestayId">Edit</a>

                    </div>
                    <div style="margin-top:5px;">
                        <a class="btn_action" asp-page="./Details" asp-route-id="@item.HomestayId">Details</a>

                    </div>
                    <div style="margin-top:5px;">
                        @if (item.Status)
                        {
                            <a class="btn_action" style="color:orange" asp-page="./Delete" asp-route-id="@item.HomestayId">Delete</a>
                        }else{
                            <button class="btn_action" style="color:orange" asp-page="./Delete" disabled asp-route-id="@item.HomestayId">Delete</button>
                        }
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Homestay.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Homestay.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Homestay.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Homestay.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>