@page
@model HomestayWeb.Pages.MyOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/edit.css" rel="stylesheet" />

<div class="d-flex justify-content-between">
    <h1>Danh sách phòng đã đặt</h1>
    <h2 style="align-items:center"><a asp-area="" asp-page="/Index" class="btn-close"></a></h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Homestay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homestay.HomestayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                    <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
